
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@font-face{
	font-family: "Press Start 2P";
	src: url("..//fonts/Fixedsys.ttf");
}
body{
	  background: repeat url(../img/BG.jpg); 
	  background-size: 100%;
	 font-family: 'Press Start 2P', cursive;
	  font-size: 16px;

}
table{
	margin: auto;
	background-color: black;
	color: white;
	width: 700px;
	border: 1px solid white;
	text-align: left;
}
td{
	border: 1px solid white;
	padding: 0 2px;
}

.info{
	background-color: white;
    width: 700px;
    margin: auto;
    text-align: right;
    position: absolute;
}
.img{
	height: 78px;
	width: 204px;
	top: 2px;
	position: relative;
	transition: all 500ms ease;
	filter: brightness(75%) grayscale(100%) sepia(100%) hue-rotate(
	150deg) saturate(200%) contrast(1.5);

}
.img:hover{
	filter: brightness(100%) grayscale(0%) sepia(0%) hue-rotate(
	360deg) saturate(100%) contrast(1);
}
.alltablebox{
	vertical-align: initial;
	height: 100%;
    width: 100%;
}
.imgtable{
	height: 47px;
	width: 200px;
	position: relative;
}
.logo
{
	margin: auto;
	width: 700px;
	display: block;
}
.updatesblock{
	width: 800px;
	height: 30px;
	margin: auto;
}

.updates
{
	font-size: 20px !important;
	display: initial;
	text-align: center;
    background-color: white;
    border: 1px solid black;
    width: 559px;
    height: 30px;
    transition: all 200ms ease;
    padding: 10px;
    overflow-x: hidden;
    float: right;
    margin-top: 25px;
    position: relative;
    z-index: 100;
}
.updates:hover{
	height: 200px;
	margin-top: 0;
	margin-bottom: 150px;
	position: relative;
	margin-top: -32px;
}
.news{
	width: 700px;
	height: 120px;
	margin: auto;
	z-index: 100;
}
.content
{
	width: 700px;
	height: 700px;
	margin: auto;
}
.flex-column
{
	display: flex;
	flex-direction: column;
}

.woah
{
	width: 700px;
	height: 700px;
	margin: auto;
	text-align: center;
}

.dem
{
	position: relative;
    top: -356px;
    right: -303px;
}
